BOT_TOKEN=your_bot_token_here

POSTGRES_DB=you_name_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here

POSTGRES_ACCESS_TYPE_Bot=Orm/Sql
POSTGRES_ACCESS_TYPE_Scrapper=Orm/Sql

PROTOCOL_TYPE_Bot=Grpc/Http
PROTOCOL_TYPE_Scrapper=Grpc/Http

AiAgent__Summarization__ApiKey=your_token_here